<div class="container">
  <h1>My bookings' details</h1>
  <div class="cards">
    <% @my_bookings.each do |my_booking| %>
      <%= link_to edit_booking_path(my_booking), class:"text-decoration-none" do %>
        <div class="card">
          <%= cl_image_tag my_booking.vehicle.photo.key, crop: :fill, class: "image-preview" %>
          <div class="card-info-booking">
            <h2><%= my_booking.vehicle.brand %> - <%= my_booking.vehicle.name %></h2>
            <p>From : <%= my_booking.start_date.strftime("%d-%m-%Y") %></p>
            <p>To : <%= my_booking.end_date.strftime("%d-%m-%Y") %></p>
            <p>TOTAL: <%= ((my_booking.end_date - my_booking.start_date + 1) * my_booking.vehicle.price).to_i  %> €</p>
          </div>
          <div class="card-bottom-right">
            <i class="fa-solid fa-pen-to-square"></i>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
