<div class="container">
  <div data-controller="search">
    <%= simple_form_for :vehicle,
                        url: vehicles_path, method: :get,
                        html: { class: "d-flex justify-content-end align-items-baseline p-2" },
                        data: { search_target: "form" }  do |f| %>
      <%= f.input :query,
                  label: false,
                  input_html: {
                    data: { action: "keyup->search#filterVehicles" },
                    class: "form-control",
                    placeholder: "Type a keyword" } %>

      <%= f.button :submit, "Search", class: "btn btn-gradient btn-sm" %>
    <% end %>
  </div>
  <h1>All our vehicles</h1>
  <p>All our <%= @vehicles.count %> vehicles</p>

    <%= render "list", vehicles: @vehicles %>

</div>
